label {	float: left;
    width: 150px;}

    #container{
  width: 900px;
  margin: auto;
  background-color: beige;
} 

main{
  padding: 50px;
}

.style{
    margin-left: 5%;
}

.style, th, td {
    border: 1px solid;
  }

